<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
    <head>
        <title>
            Edit Document
        </title>
    </head>
    <body>
        <form action="#" th:action="@{/man/save}" th:object="${article}" method="post">
            <label for="title">Title:</label><br>
            <input type="text" th:field="*{title}" id="title" name="title"><br>
            <label for="imgRef">Image Path</label><br>
            <input type="text" th:field="*{imgRef}" id="imgRef" name="imgRef"><br>
            <label for="text">Text:</label><br>
            <textarea id="text" th:field="*{text}" name="text" rows="4" cols="50">
            </textarea>
            <input type="hidden" th:field="*{id}" id="id" name="id"><br>
            <input type="hidden" th:field="*{created}" id="created" name="created"><br>
            <input type="hidden" th:field="*{published}" id="published" name="published"><br>
            <input type="hidden" th:field="*{edited}" id="edited" name="editied"><br>
            <button type="submit" name="action" value="submit">submit</button>
            <button type="submit" name="action" value="return">return</button>
        </form>
    </body>
</html>