<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Management</title>
    <script th:src="@{/js/lib.js}"></script>
</head>
<body>
    <table>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>published</th>
        </tr>
        <tr>
            <td rowspan="3">
                <tr th:each="article: ${articles}">
                    <td th:text="${article.id}"></td>
                    <td> <a th:href="@{/man/edit/{id}(id=${article.id})}"  th:text="${article.title}">link</a></td>
                    <td th:if="${article.published == null}">
                        <a th:href="'JavaScript:newPopup(\'' + @{/man/publish.html} + '\',' + ${article.id} + ');'">PUBLISH</a>
                    </td>
                    <td th:unless="${article.published == null}">
                        <span th:text="${article.published}"></span>
                    </td>
                </tr>
    <form action="#" th:action="@{/man/edit}" method="get">
        <label for="submit">New Article</label>
        <input id="submit" type="submit" value="submit">
    </form>
            </td>
        </tr>
    </table>
</body>
</html>