hr{
    height:2px;
    border-width:0;
    width: 75%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.article{
    background-color: #FF0000;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 5px 5px 5px;
    float: left;
    width: 70%;
}

#main{
    max-width: 80%;
    margin: auto
}

#left_nav{
    float: left;
    width: 20%;
}

#footer{
    clear:both;

}
